.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 40px;
}

.reference {
  margin-top: 40px;
}
