<!doctype html>
{% if style or autoreload %}
<head>{% if style %}
  <style>
    {{ style }}
  </style>{% endif %}{% if autoreload %}
  <script type="text/javascript" src="https://livejs.com/live.js"></script>{% endif %}
</head>
{% endif %}
<body>
  {% block code %}
  {% endblock %}
  <script>
    var width;
    var height;
    {% include 'wait.js' %}
    {% if serialize %}
      {% include 'svg.js' %}
      {% include 'serialize.js' %}
    {% endif %}
    {% block wait %}
    {% endblock %}
  </script>
</body>
