<!doctype html>
{% if set_style != "" %}
<head>
  <style>
    {{ set_style }}
  </style>
</head>
{% endif %}
<body>
  <div id="myplot" class="container">
  {% for id, plot in plot.items() %}
    <div>
      <h2>{{ plot["title"] }}</h1>
      <div class="plot" id="plot-{{ id }}"></div>
    </div>
  {% endfor %}
  </div>
  <script>{{ get_data }}</script>
  <script type="module">
  import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";
  {% for id, plot in plot.items() %}
  const div_{{ id }} = document.querySelector("#plot-{{ id }}");
  const plot_{{ id }} = {{ plot["code"] }}
  div_{{ id }}.append(plot_{{ id }});
  {% endfor %}
  </script>
  {{ get_svg }}
  <script>
    var width;
    var height;
    function waitForFigure(selector) {
      return new Promise(resolve => {
          if (document.getElementById(selector).childNodes[0]) {
              return resolve(document.getElementById(selector).childNodes[0]);
          }

          const observer = new MutationObserver(mutations => {
              if (document.getElementById(selector).childNodes[0]) {
                  observer.disconnect();
                  resolve(document.getElementById(selector).childNodes[0]);
              }
          });

          observer.observe(document.body, {
              childList: true,
              subtree: true
          });
      });
    }
    waitForFigure("{{ id }}").then(figure => {
      const div = document.getElementById("myplot");
      const svg = figure.childNodes[1];
      const boundingRect = div.getBoundingClientRect();
      width = {{ width_line }};
      height = boundingRect.height;
      {{ code_line }}
    })
  </script>
</body>
