  <script>
      const xmlns = "http://www.w2.org/2000/xmlns/";
      const xlinkns = "http://www.w3.org/1999/xlink";
      const svgns = "http://www.w3.org/2000/svg";
      var mysvg;

      function waitForFigure(selector) {
        return new Promise(resolve => {
            if (document.getElementById(selector).childNodes[0]) {
                return resolve(document.getElementById(selector).childNodes[0]);
            }
      
            const observer = new MutationObserver(mutations => {
                if (document.getElementById(selector).childNodes[0]) {
                    observer.disconnect();
                    resolve(document.getElementById(selector).childNodes[0]);
                }
            });
      
            observer.observe(document.body, {
                childList: true,
                subtree: true
            });
        });
      }

      // Depending of the generated figure, sometimes the SVG content
      // is not at the root but on the first level of childs.
      function getSVG(figure) {
        if (figure.tagName === "svg"){
          return figure;
        } else {
          return Array.from(figure.childNodes).filter(e => e.tagName === "svg")[0];
        }
      }

      function serialize(svg) {
        const fragment = window.location.href + "#";
        const walker = document.createTreeWalker(svg, NodeFilter.SHOW_ELEMENT);
        while (walker.nextNode()) {
          for (const attr of walker.currentNode.attributes) {
            if (attr.value.includes(fragment)) {
              attr.value = attr.value.replace(fragment, "#");
            }
          }
        }
        // svg.setAttributeNS(xmlns, "xmlns", svgns);
        // svg.setAttributeNS(xmlns, "xmlns:xlink", xlinkns);
        const serializer = new window.XMLSerializer;
        const string = serializer.serializeToString(svg);
        // return new Blob([string], {type: "image/svg+xml"});
        return string;
      };

      function int(string){
        return parseInt(string, 10);
      }
      
      function gFromSVG(svg){
        var boundingRect = svg.getBoundingClientRect();
        var attributeNames = svg.getAttributeNames().filter(name => !(["viewBox", "class", "width", "height"].includes(name)));
        var style = window.getComputedStyle(svg);
        var dx = int(style.marginLeft) - int(style.marginRight);
        var dy = int(style.marginTop) - int(style.marginBottom);
        // var viewBox = svg.getAttribute("viewBox").split(" ").map(x => parseInt(x, 10));
        // var dx = viewBox[2] - viewBox[0];
        // var dy = viewBox[3] - viewBox[1];
        var g = document.createElementNS("http://www.w3.org/2000/svg", "g");
        g.setAttribute("transform", `translate(0, ${boundingRect.y})`)
        for (name of attributeNames){g.setAttribute(name, svg.getAttribute(name));}
        g.append(...svg.childNodes);
        return g;
      }

      function gFromSpan(span, spanCount){
        var svg = span.childNodes[0];
        var viewBox = svg.getAttribute("viewBox").split(" ").map(x => parseInt(x, 10));
        var svgBoundingRect = svg.getBoundingClientRect();
        var textBoundingRect = span.getBoundingClientRect();
        var style = window.getComputedStyle(span);
        var dx = int(style.marginLeft) - int(style.marginRight);

        var g = document.createElementNS("http://www.w3.org/2000/svg", "g");
        g.setAttribute("transform", `translate(${textBoundingRect.x - textBoundingRect.width - dx * spanCount}, ${textBoundingRect.height})`)

        // SVG
        var style = window.getComputedStyle(svg);
        var dx = int(style.marginLeft) - int(style.marginRight);
        var dy = int(style.marginTop) - int(style.marginBottom);
        var gSVG = document.createElementNS("http://www.w3.org/2000/svg", "g");
        var attributeNames = svg.getAttributeNames().filter(name => !(["viewBox", "class", "width", "height"].includes(name)));
        for (name of attributeNames){gSVG.setAttribute(name, svg.getAttribute(name));}
        gSVG.append(...svg.childNodes);
        gSVG.setAttribute("transform", `translate(${dx}, ${dy})`)
        g.append(gSVG);

        // Text
        var text = document.createElementNS("http://www.w3.org/2000/svg", "text");
        text.setAttribute("transform", `translate(${textBoundingRect.width - svgBoundingRect.width}, 0)`)
        text.setAttribute("y", "0.32em");
        text.append(span.childNodes[1]);
        g.append(text);
        return g;
      }

      function gFromObj(obj){
        // console.log(obj.outerHTML);
        var boundingRect = obj.getBoundingClientRect();
        var g = document.createElementNS("http://www.w3.org/2000/svg", "g");
        var style = window.getComputedStyle(obj);
        console.log(boundingRect)
        // var dx = int(style.marginLeft) - int(style.marginRight);
        // var dy = int(style.marginTop) - int(style.marginBottom);
        // g.setAttribute("transform", `translate(${boundingRect.x - x}, ${boundingRect.y - y})`)
        var spanCount = 0;
        for (child of obj.childNodes){
          switch(child.tagName){
            case "SPAN":
              g.appendChild(gFromSpan(child, spanCount));
              spanCount += 1;
              break;
            case "svg":
              g.appendChild(gFromSVG(child));
              break;
            case "STYLE":
              break;
            default:
              g.appendChild(gFromObj(child));
          }
        }
        return g;
      }

      {{ wait_function }}
      waitForFigure("myplot").then(figure => {
        div = document.getElementById("myplot");
        figure = div.childNodes[0];
        subdiv = figure.childNodes[0];
        svg = figure.childNodes[1];
        var boundingRect = svg.getBoundingClientRect();
        // console.log(boundingRect)
        // console.log(boundingRect);
        span = subdiv.childNodes[1];
        subsvg = span.childNodes[0];
        
        var g = gFromObj(div);
        var new_svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
        new_svg.setAttribute("width", `${Math.floor(boundingRect.width)}`);
        new_svg.setAttribute("height", `${Math.floor(boundingRect.height * 1.2)}`);
        new_svg.setAttribute("viewBox", `0 0 ${Math.floor(boundingRect.width)} ${Math.floor(boundingRect.height * 1.2)}`);
        var attributeNames = svg.getAttributeNames().filter(name => !(["viewBox", "class", "width", "height"].includes(name)));
        for (name of attributeNames){new_svg.setAttribute(name, svg.getAttribute(name));}
        // new_svg.setAttribute("xmlns", "http://www.w3.org/2000/svg")
        new_svg.appendChild(g);
        document.body.appendChild(new_svg);
      })
    </script>
