name: pypi

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  publish-to-pypi:
    name: Publish to pypi
    runs-on: ubuntu-latest
    environment:
      name: pypi
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    permissions:
      # Use to sign the release artifacts
      id-token: write
      # Used to upload release artifacts
      contents: write
      # Used to generate artifact attestation
      attestations: write
    steps:
      - name: Change timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Paris"
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.10
        run: uv python install 3.10
      - name: Build
        run: uv build
      # Check that basic features work and we didn't miss to include crucial files
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with dist/*whl --with pytest --with polars --with git+https://github.com/bourbonut/pytopojson.git pytest tests/
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with dist/*.tar.gz --with pytest --with polars --with git+https://github.com/bourbonut/pytopojson.git pytest tests/
      - name: Publish to PyPI
        run: uv publish
